* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Encode Sans Expanded',sans-serif;
}

#musescoreButton{
  border-radius: 50px;
  background: #45a5ff;
  white-space: nowrap;
  padding: 12px 32px;
  color: #fff;
  font-size:'16px';
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

#musescoreButton:hover{
      transition: all 0.2s ease-in-out;
      background: #fff;
      color: #45a5ff;
}


a:link, a:visited {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
    font-size: 14px;
}
  
a:hover {
  color: #B0DAF1;
  transition: 0.3s ease-out;
}
